.debug {
    background-color: pink !important;
    border: 2px solid red !important;
}

.center {
    text-align: center;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #225500;
}

.btn-md {
  width: 150px;
  height: 50px;
}
