<div class="center">
  <ng-container *ngIf="loading; else elseTemplate">
    <mat-spinner></mat-spinner>
  </ng-container>
  <ng-template #elseTemplate>

    <div *ngFor="let project of activeProjects">
      <table class="table table-hover table-striped table-primary project-table">
        <thead>
          <tr>
            <th scope="col" colspan="4">Project: {{project.Name}}</th>
            <th scope="col"><button class="btn btn-primary" (click)="onExpandClick(project)">Expand</button></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let task of project.Tasks">
            <td>{{task.Priority}}</td>
            <td>{{task.Type}}</td>
            <td colspan="2">{{task.Task}}</td>
            <td>{{task.Cost}}</td>
          </tr>
        </tbody>
      </table>
    </div>



















  </ng-template>
</div>
